[[extend 'layout.html']]
<style>
  [v-cloak] {
    display: none;
  }
</style>
<div class="section" id="vue-target" v-cloak>
  <div class="title">Games 4 Kidz</div>

  <h1>&nbsp;</h1>

  <div class="hangdude-col">
    <p>
      Make sure Hangdude the shark can hang ten with his friends and surf! Guess
      the hidden word one letter at a time.
    </p>

    <h1>&nbsp;</h1>

    <a class="button is-link" href="[[=URL('hangdude')]]">
      <span class="icon"><i class="fa fa-fw fa-smile-o"></i></span>
      <span>Play Hangdude NOW!!!</span>
      <span class="icon"><i class="fa fa-fw fa-smile-o"></i></span>
    </a>

    <h1>&nbsp;</h1>
    <!-- just for formatting/aesthetic purposes-->

    <a class="hangdude-le" href="[[=URL('hangdude/leaderboard')]]"
      >Check out the Hangdude Leaderboard!</a
    >

    <div class="hangdude-time">
      Times you've played: {{games[0].hangdude_played}}
    </div>
  </div>

  <h1>&nbsp;</h1>

  <div class="termsearch-col">
    <p>
      Help Termsearch the turtle find all the hidden words on the map!
    </p>

    <h1>&nbsp;</h1>

    <a class="button is-link" href="[[=URL('termsearch')]]">
      <span class="icon"><i class="fa fa-fw fa-smile-o"></i></span>
      <span>Play Termsearch NOW!!!</span>
      <span class="icon"><i class="fa fa-fw fa-smile-o"></i></span>
    </a>

    <h1>&nbsp;</h1>

    <a class="termsearch-le" href="[[=URL('termsearch/leaderboard')]]"
      >Check out the Termsearch Leaderboard!</a
    >

    <div class="termsearch-time">
      Times you've played: {{games[0].termsearch_played}}
    </div>
  </div>
</div>

[[block page_scripts]]
<script src="js/index.js"></script>
<link rel="stylesheet" type="text/css" href="css/index.css" />
[[end]]
